[Unit]
Description=Collect data for Seinor Design
After=network.target

StartLimitBurst=5
StartLimitIntervalSec=60
# StartLimitIntervalSec > StartLimitBurst * RestartSec

[Service]
Type=simple
User=pi
WorkingDirectory=/srv/pool-saftey
ExecStart=/srv/pool-saftey/service_env/bin/python3 -m juicy.test.poolAlarm
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
